@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif; */

body {
  margin: 0;
  padding: 0;
  background: url(bg2.jpg);
  background-size:auto;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section .scroll {
  width: 100%;
  display: flex;
}

section .scroll div {
  color: #000;
  font-size: 4em;
  background: rgb(245, 221, 9);
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

section .scroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

section .scroll div span {
  -webkit-text-stroke: 2px #000;
  color: transparent;
}

@keyframes animate {
  0%  
     {
      transform: translateX(100%);
     }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0%  
     {
      transform: translateX(0);
     }
  100% {
    transform: translateX(-200%);
  }
}

section .scroll.text1 {
  transform: rotate(30deg) translateY(200px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
section .scroll.text2 {
  transform: rotate(-25deg) translateY(120px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

section .scroll.text3 {
  transform: rotate(25deg) translateY(300px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

section .scroll.text4 {
  transform: rotate(-2deg) translateY(-150px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
 
section .scroll.text5 {
  transform: rotate(5deg) translateY(250px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.btn a {
  position: absolute;
  top: 90%;
  left: 47%;
  font-size: 20px;
  letter-spacing: 2px;
  color: #3d3d3d;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 18px 5px 18px;
}

.btn a:hover {
  
  color: #aaa;
  background-color: #222;
  border: 1px solid #222;
}